<h1>CREATE A NEW COCKTAIL</h1>

<form>
  <div class="form-group">
    <label for="inputName">Cocktail Name</label>
    <input type="text" class="form-control" id="cocktailName" placeholder="Piña Colada">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputIngredient1">Ingredient</label>
      <input type="text" class="form-control" id="inputIngredient1">
    </div>
    <div class="form-group col-md-4">
      <label for="inputDose1">Amount</label>
        <select id="inputDose1" class="form-control">
          <option selected>Choose...</option>
          <option>1 part</option>
          <option>2 parts</option>
          <option>3 parts</option>
        </select>
    </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputIngredient2">Ingredient</label>
      <input type="text" class="form-control" id="inputIngredient2">
    </div>
    <div class="form-group col-md-4">
      <label for="inputDose2">Amount</label>
      <select id="inputDose2" class="form-control">
        <option selected>Choose...</option>
        <option>1 part</option>
        <option>2 parts</option>
        <option>3 parts</option>
      </select>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputIngredient3">Ingredient</label>
      <input type="text" class="form-control" id="inputIngredient3">
    </div>
  </div>
    <div class="form-group col-md-4">
      <label for="inputDose3">Amount</label>
      <select id="inputDose3" class="form-control">
        <option selected>Choose...</option>
        <option>1 part</option>
        <option>2 parts</option>
        <option>3 parts</option>
      </select>
    </div>
  <button type="submit" class="btn btn-primary">Add Cocktail</button>
</form>
